# kbo 선수 및 팀에 대한 정보를 가져와 연봉정보와 데이터를 확장자를 통일한다.
1. 셀레니움 웹크롤링을 이용하여 kbo데이터를 수집한다.
2. mysql에 적재해놓은 연봉데이터를 이용하여 pkl파일로 저장.

## 1. 웹 크롤링
- 1.1 타자<br>
- 1.2 투수<br>
- 1.3 팀정보<br>
- 1.4 수비<br>
- 1.5 주루<br>

In [13]:
import requests
from selenium import webdriver
from bs4 import BeautifulSoup
import time
import pandas as pd

### 1.1 타자

In [2]:
url = "https://www.koreabaseball.com/Record/Player/HitterBasic/Basic1.aspx"

In [3]:
from selenium import webdriver
driver = webdriver.Chrome()

In [4]:
driver.get(url)

In [5]:
from selenium.webdriver.common.by import By
driver.find_element(By.CSS_SELECTOR, "#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child(21)").click()
driver.find_element(By.CSS_SELECTOR, "#cphContents_cphContents_cphContents_ddlSeries_ddlSeries > option:nth-child(1)").click()

In [6]:
bs = BeautifulSoup(driver.page_source)

In [7]:
선수명 = [i.text for i in bs.find("table").findAll("td")[1::16]]
팀명 = [i.text for i in bs.find("table").findAll("td")[2::16]]
타율 = [i.text for i in bs.find("table").findAll("td")[3::16]]
경기수 = [i.text for i in bs.find("table").findAll("td")[4::16]]
득점 = [i.text for i in bs.find("table").findAll("td")[7::16]]
안타 = [i.text for i in bs.find("table").findAll("td")[8::16]]
이루타 = [i.text for i in bs.find("table").findAll("td")[9::16]]
삼루타 = [i.text for i in bs.find("table").findAll("td")[10::16]]
홈런 = [i.text for i in bs.find("table").findAll("td")[11::16]]
타점 = [i.text for i in bs.find("table").findAll("td")[13::16]]

In [15]:
list(zip(선수명,팀명,타율,경기수,득점,안타,이루타,삼루타,홈런,타점))

[('이정후', '키움', '0.349', '142', '85', '193', '36', '10', '23', '113'),
 ('피렐라', '삼성', '0.342', '141', '102', '192', '33', '4', '28', '109'),
 ('박건우', 'NC', '0.336', '111', '52', '137', '18', '1', '10', '61'),
 ('이대호', '롯데', '0.331', '142', '53', '179', '23', '0', '23', '101'),
 ('나성범', 'KIA', '0.320', '144', '92', '180', '39', '2', '21', '97'),
 ('김혜성', '키움', '0.318', '129', '81', '164', '18', '7', '4', '48'),
 ('문보경', 'LG', '0.315', '126', '52', '128', '22', '3', '9', '56'),
 ('소크라테스', 'KIA', '0.311', '127', '83', '160', '29', '7', '17', '77'),
 ('페르난데스', '두산', '0.309', '139', '52', '157', '28', '0', '6', '77'),
 ('조용호', 'KT', '0.308', '131', '52', '146', '18', '4', '3', '44'),
 ('한동희', '롯데', '0.307', '129', '43', '140', '27', '0', '14', '65'),
 ('전준우', '롯데', '0.304', '120', '73', '143', '31', '1', '11', '68'),
 ('최지훈', 'SSG', '0.304', '144', '93', '173', '32', '4', '10', '61'),
 ('박성한', 'SSG', '0.298', '140', '68', '147', '24', '4', '2', '56'),
 ('마티니', 'NC', '0.296', '139', '67', '151', '34', '1', '16', '85'),
 ('채은성', 'LG', '0.296', '126', '48', '138', '26', '2', '12', '83'),
 ('박해민', 'LG', '0.289', '144', '97', '165', '20', '8', '3', '49'),
 ('허경민', '두산', '0.289', '121', '59', '125', '23', '0', '8', '60'),
 ('터크먼', '한화', '0.289', '144', '88', '166', '37', '4', '12', '43'),
 ('김선빈', 'KIA', '0.287', '140', '51', '145', '23', '0', '3', '61'),
 ('김현수', 'LG', '0.286', '141', '78', '150', '25', '2', '23', '106'),
 ('홍창기', 'LG', '0.286', '118', '76', '125', '19', '4', '1', '51'),
 ('안치홍', '롯데', '0.284', '132', '71', '140', '27', '3', '14', '58'),
 ('양의지', 'NC', '0.283', '130', '61', '121', '24', '0', '20', '94'),
 ('노시환', '한화', '0.281', '115', '55', '122', '24', '1', '6', '59'),
 ('노진혁', 'NC', '0.280', '115', '50', '111', '24', '0', '15', '75'),
 ('손아섭', 'NC', '0.277', '138', '72', '152', '29', '4', '4', '48'),
 ('푸이그', '키움', '0.277', '126', '65', '131', '30', '0', '21', '73'),
 ('박병호', 'KT', '0.275', '124', '72', '118', '17', '0', '35', '98'),
 ('류지혁', 'KIA', '0.274', '127', '55', '111', '19', '2', '2', '48')]

In [14]:
page1 = pd.DataFrame(list(zip(선수명,팀명,타율,경기수,득점,안타,이루타,삼루타,홈런,타점)))
page1

        0    1      2    3    4    5   6   7   8    9
0     이정후   키움  0.349  142   85  193  36  10  23  113
1     피렐라   삼성  0.342  141  102  192  33   4  28  109
2     박건우   NC  0.336  111   52  137  18   1  10   61
3     이대호   롯데  0.331  142   53  179  23   0  23  101
4     나성범  KIA  0.320  144   92  180  39   2  21   97
5     김혜성   키움  0.318  129   81  164  18   7   4   48
6     문보경   LG  0.315  126   52  128  22   3   9   56
7   소크라테스  KIA  0.311  127   83  160  29   7  17   77
8   페르난데스   두산  0.309  139   52  157  28   0   6   77
9     조용호   KT  0.308  131   52  146  18   4   3   44
10    한동희   롯데  0.307  129   43  140  27   0  14   65
11    전준우   롯데  0.304  120   73  143  31   1  11   68
12    최지훈  SSG  0.304  144   93  173  32   4  10   61
13    박성한  SSG  0.298  140   68  147  24   4   2   56
14    마티니   NC  0.296  139   67  151  34   1  16   85
15    채은성   LG  0.296  126   48  138  26   2  12   83
16    박해민   LG  0.289  144   97  165  20   8   3   49
17    허경민   두산  0.289  121   59  125  23   0   8   60
18    터크먼   한화  0.289  144   88  166  37   4  12   43
19    김선빈  KIA  0.287  140   51  145  23   0   3   61
20    김현수   LG  0.286  141   78  150  25   2  23  106
21    홍창기   LG  0.286  118   76  125  19   4   1   51
22    안치홍   롯데  0.284  132   71  140  27   3  14   58
23    양의지   NC  0.283  130   61  121  24   0  20   94
24    노시환   한화  0.281  115   55  122  24   1   6   59
25    노진혁   NC  0.280  115   50  111  24   0  15   75
26    손아섭   NC  0.277  138   72  152  29   4   4   48
27    푸이그   키움  0.277  126   65  131  30   0  21   73
28    박병호   KT  0.275  124   72  118  17   0  35   98
29    류지혁  KIA  0.274  127   55  111  19   2   2   48

In [16]:
driver.find_element(By.CSS_SELECTOR, "#cphContents_cphContents_cphContents_ucPager_btnNo2").click()

In [17]:
bs1 = BeautifulSoup(driver.page_source)

In [18]:
선수명 = [i.text for i in bs1.find("table").findAll("td")[1::16]]
팀명 = [i.text for i in bs1.find("table").findAll("td")[2::16]]
타율 = [i.text for i in bs1.find("table").findAll("td")[3::16]]
경기수 = [i.text for i in bs1.find("table").findAll("td")[4::16]]
득점 = [i.text for i in bs1.find("table").findAll("td")[7::16]]
안타 = [i.text for i in bs1.find("table").findAll("td")[8::16]]
이루타 = [i.text for i in bs1.find("table").findAll("td")[9::16]]
삼루타 = [i.text for i in bs1.find("table").findAll("td")[10::16]]
홈런 = [i.text for i in bs1.find("table").findAll("td")[11::16]]
타점 = [i.text for i in bs1.find("table").findAll("td")[13::16]]

In [19]:
page2 = pd.DataFrame(list(zip(선수명,팀명,타율,경기수,득점,안타,이루타,삼루타,홈런,타점)))
page2

      0    1      2    3   4    5   6  7   8    9
0   정은원   한화  0.274  140  67  139  20  2   8   49
1   박찬호  KIA  0.272  130  81  134  22  0   4   45
2   오지환   LG  0.269  142  75  133  16  4  25   87
3   오재일   삼성  0.268  135  57  126  42  0  21   94
4   이지영   키움  0.267  137  38  112  13  4   2   37
5   박민우   NC  0.267  104  61  104  22  1   4   38
6   배정대   KT  0.266  144  64  135  24  2   6   56
7    최정  SSG  0.266  121  80  110  21  0  26   87
8   최형우  KIA  0.264  132  55  120  27  1  14   71
9   한유섬  SSG  0.264  135  62  121  33  1  21  100
10  강승호   두산  0.264  134  54  117  28  1  10   62
11  황재균   KT  0.262  141  59  136  25  3  10   64
12  정수빈   두산  0.259  127  58  105  12  4   3   41
13  추신수  SSG  0.259  112  77  106  20  1  16   58
14  하주석   한화  0.258  125  50  115  18  2   5   58
15  황대인  KIA  0.256  129  40  122  27  0  14   91
16  유강남   LG  0.255  139  54  106  16  0   8   47
17  김재환   두산  0.248  128  64  111  24  1  23   72
18  송성문   키움  0.247  142  67  135  21  4  13   79
19  양석환   두산  0.244  107  58   99  14  1  20   51
20  박동원  KIA  0.242  123  52   93  21  0  18   57
21  김태연   한화  0.240  119  46   97  18  0   7   53
22  심우준   KT  0.240  132  69   93   8  2   4   34

In [20]:
taza = pd.concat([page1,page2],ignore_index = True)
taza

        0    1      2    3    4    5   6   7   8    9
0     이정후   키움  0.349  142   85  193  36  10  23  113
1     피렐라   삼성  0.342  141  102  192  33   4  28  109
2     박건우   NC  0.336  111   52  137  18   1  10   61
3     이대호   롯데  0.331  142   53  179  23   0  23  101
4     나성범  KIA  0.320  144   92  180  39   2  21   97
5     김혜성   키움  0.318  129   81  164  18   7   4   48
6     문보경   LG  0.315  126   52  128  22   3   9   56
7   소크라테스  KIA  0.311  127   83  160  29   7  17   77
8   페르난데스   두산  0.309  139   52  157  28   0   6   77
9     조용호   KT  0.308  131   52  146  18   4   3   44
10    한동희   롯데  0.307  129   43  140  27   0  14   65
11    전준우   롯데  0.304  120   73  143  31   1  11   68
12    최지훈  SSG  0.304  144   93  173  32   4  10   61
13    박성한  SSG  0.298  140   68  147  24   4   2   56
14    마티니   NC  0.296  139   67  151  34   1  16   85
15    채은성   LG  0.296  126   48  138  26   2  12   83
16    박해민   LG  0.289  144   97  165  20   8   3   49
17    허경민   두산  0.289  121   59  125  23   0   8   60
18    터크먼   한화  0.289  144   88  166  37   4  12   43
19    김선빈  KIA  0.287  140   51  145  23   0   3   61
20    김현수   LG  0.286  141   78  150  25   2  23  106
21    홍창기   LG  0.286  118   76  125  19   4   1   51
22    안치홍   롯데  0.284  132   71  140  27   3  14   58
23    양의지   NC  0.283  130   61  121  24   0  20   94
24    노시환   한화  0.281  115   55  122  24   1   6   59
25    노진혁   NC  0.280  115   50  111  24   0  15   75
26    손아섭   NC  0.277  138   72  152  29   4   4   48
27    푸이그   키움  0.277  126   65  131  30   0  21   73
28    박병호   KT  0.275  124   72  118  17   0  35   98
29    류지혁  KIA  0.274  127   55  111  19   2   2   48
30    정은원   한화  0.274  140   67  139  20   2   8   49
31    박찬호  KIA  0.272  130   81  134  22   0   4   45
32    오지환   LG  0.269  142   75  133  16   4  25   87
33    오재일   삼성  0.268  135   57  126  42   0  21   94
34    이지영   키움  0.267  137   38  112  13   4   2   37
35    박민우   NC  0.267  104   61  104  22   1   4   38
36    배정대   KT  0.266  144   64  135  24   2   6   56
37     최정  SSG  0.266  121   80  110  21   0  26   87
38    최형우  KIA  0.264  132   55  120  27   1  14   71
39    한유섬  SSG  0.264  135   62  121  33   1  21  100
40    강승호   두산  0.264  134   54  117  28   1  10   62
41    황재균   KT  0.262  141   59  136  25   3  10   64
42    정수빈   두산  0.259  127   58  105  12   4   3   41
43    추신수  SSG  0.259  112   77  106  20   1  16   58
44    하주석   한화  0.258  125   50  115  18   2   5   58
45    황대인  KIA  0.256  129   40  122  27   0  14   91
46    유강남   LG  0.255  139   54  106  16   0   8   47
47    김재환   두산  0.248  128   64  111  24   1  23   72
48    송성문   키움  0.247  142   67  135  21   4  13   79
49    양석환   두산  0.244  107   58   99  14   1  20   51
50    박동원  KIA  0.242  123   52   93  21   0  18   57
51    김태연   한화  0.240  119   46   97  18   0   7   53
52    심우준   KT  0.240  132   69   93   8   2   4   34

In [21]:
taza.columns = ['이름','팀명','타율','경기수','득점','안타','이루타','삼루타','홈런','타점']

In [22]:
taza

       이름   팀명     타율  경기수   득점   안타 이루타 삼루타  홈런   타점
0     이정후   키움  0.349  142   85  193  36  10  23  113
1     피렐라   삼성  0.342  141  102  192  33   4  28  109
2     박건우   NC  0.336  111   52  137  18   1  10   61
3     이대호   롯데  0.331  142   53  179  23   0  23  101
4     나성범  KIA  0.320  144   92  180  39   2  21   97
5     김혜성   키움  0.318  129   81  164  18   7   4   48
6     문보경   LG  0.315  126   52  128  22   3   9   56
7   소크라테스  KIA  0.311  127   83  160  29   7  17   77
8   페르난데스   두산  0.309  139   52  157  28   0   6   77
9     조용호   KT  0.308  131   52  146  18   4   3   44
10    한동희   롯데  0.307  129   43  140  27   0  14   65
11    전준우   롯데  0.304  120   73  143  31   1  11   68
12    최지훈  SSG  0.304  144   93  173  32   4  10   61
13    박성한  SSG  0.298  140   68  147  24   4   2   56
14    마티니   NC  0.296  139   67  151  34   1  16   85
15    채은성   LG  0.296  126   48  138  26   2  12   83
16    박해민   LG  0.289  144   97  165  20   8   3   49
17    허경민   두산  0.289  121   59  125  23   0   8   60
18    터크먼   한화  0.289  144   88  166  37   4  12   43
19    김선빈  KIA  0.287  140   51  145  23   0   3   61
20    김현수   LG  0.286  141   78  150  25   2  23  106
21    홍창기   LG  0.286  118   76  125  19   4   1   51
22    안치홍   롯데  0.284  132   71  140  27   3  14   58
23    양의지   NC  0.283  130   61  121  24   0  20   94
24    노시환   한화  0.281  115   55  122  24   1   6   59
25    노진혁   NC  0.280  115   50  111  24   0  15   75
26    손아섭   NC  0.277  138   72  152  29   4   4   48
27    푸이그   키움  0.277  126   65  131  30   0  21   73
28    박병호   KT  0.275  124   72  118  17   0  35   98
29    류지혁  KIA  0.274  127   55  111  19   2   2   48
30    정은원   한화  0.274  140   67  139  20   2   8   49
31    박찬호  KIA  0.272  130   81  134  22   0   4   45
32    오지환   LG  0.269  142   75  133  16   4  25   87
33    오재일   삼성  0.268  135   57  126  42   0  21   94
34    이지영   키움  0.267  137   38  112  13   4   2   37
35    박민우   NC  0.267  104   61  104  22   1   4   38
36    배정대   KT  0.266  144   64  135  24   2   6   56
37     최정  SSG  0.266  121   80  110  21   0  26   87
38    최형우  KIA  0.264  132   55  120  27   1  14   71
39    한유섬  SSG  0.264  135   62  121  33   1  21  100
40    강승호   두산  0.264  134   54  117  28   1  10   62
41    황재균   KT  0.262  141   59  136  25   3  10   64
42    정수빈   두산  0.259  127   58  105  12   4   3   41
43    추신수  SSG  0.259  112   77  106  20   1  16   58
44    하주석   한화  0.258  125   50  115  18   2   5   58
45    황대인  KIA  0.256  129   40  122  27   0  14   91
46    유강남   LG  0.255  139   54  106  16   0   8   47
47    김재환   두산  0.248  128   64  111  24   1  23   72
48    송성문   키움  0.247  142   67  135  21   4  13   79
49    양석환   두산  0.244  107   58   99  14   1  20   51
50    박동원  KIA  0.242  123   52   93  21   0  18   57
51    김태연   한화  0.240  119   46   97  18   0   7   53
52    심우준   KT  0.240  132   69   93   8   2   4   34

In [23]:
import pickle

In [128]:
with open("./taza.pkl","wb")as f:
    pickle.dump(taza,f)

- 두페이지로 되어있는 kbo 홈페이지 타자정보에서 데이터를 크롤링
- 하나의 데이터프레임으로 병함
- 컬럼명을 기입해주었다.
- 데이터프레임을 pkl 파일로 저장해준다.

## 1.2 투수

In [50]:
with open("./tusu.pkl","rb")as f:
    tusu = pickle.load(f)

In [51]:
tusu

,순위,선수명,팀명,평균자책점,경기,승,패,세이브,홀드,승률,이닝,피안타,홈런,볼넷,사구,삼진,실점,자책점,이닝당_출루허용률
0,1,안우진,키움,2.11,30,15,8,0,0,0.652,196,131,4,55,4,224,51,46,0.95
1,2,김광현,SSG,2.13,28,13,3,0,0,0.813,173 1/3,141,10,45,5,153,48,41,1.07
2,3,플럿코,LG,2.39,28,15,5,0,0,0.750,162,125,13,38,2,149,53,43,1.01
3,4,수아레즈,삼성,2.49,30,6,8,0,0,0.429,173 2/3,151,7,50,4,159,61,48,1.16
4,5,켈리,LG,2.54,27,16,4,0,0,0.800,166 1/3,144,10,35,2,153,50,47,1.08
5,6,요키시,키움,2.57,30,10,8,0,0,0.556,185 1/3,169,8,33,5,154,61,53,1.09
6,7,폰트,SSG,2.69,28,13,6,0,0,0.684,184,141,18,34,6,170,63,55,0.95
7,8,루친스키,NC,2.97,31,10,12,0,0,0.455,193 2/3,184,14,34,8,194,77,64,1.13
8,9,뷰캐넌,삼성,3.04,26,11,8,0,0,0.579,160,176,10,39,8,117,61,54,1.34
9,10,소형준,KT,3.05,27,13,6,0,0,0.684,171 1/3,158,8,39,5,117,68,58,1.15
10,11,고영표,KT,3.26,28,13,8,0,0,0.619,182 1/3,191,7,23,16,156,69,66,1.17
11,12,스탁,두산,3.60,29,9,10,0,0,0.474,165,162,9,83,10,138,87,66,1.48
12,12,최원준,두산,3.60,30,8,13,0,0,0.381,165,183,21,37,7,113,80,66,1.33
13,14,반즈,롯데,3.62,31,12,12,0,0,0.500,186 1/3,176,8,47,18,160,87,75,1.20
14,15,곽빈,두산,3.78,27,8,9,0,0,0.471,147 2/3,143,13,60,11,138,69,62,1.37
15,16,양현종,KIA,3.85,30,12,7,0,0,0.632,175 1/3,170,14,50,3,141,86,75,1.25
16,17,이의리,KIA,3.86,29,10,10,0,0,0.500,154,128,18,74,9,161,79,66,1.31
17,18,박세웅,롯데,3.89,28,10,11,0,0,0.476,157 1/3,179,8,32,8,146,80,68,1.34
18,19,원태인,삼성,3.92,27,10,8,0,0,0.556,165 1/3,175,16,38,4,130,75,72,1.29
19,20,김민우,한화,4.36,29,6,11,0,0,0.353,163,143,16,84,8,129,82,79,1.39
20,21,오원석,SSG,4.50,31,6,8,0,0,0.429,144,158,16,58,3,112,79,72,1.50
21,22,데스파이네,KT,4.53,30,8,12,0,0,0.400,163,198,14,48,9,123,94,82,1.51

## 1.3 팀순위

In [52]:
url1 = "https://www.koreabaseball.com/TeamRank/TeamRank.aspx"

In [53]:
driver.get(url1)

In [54]:
driver.find_element(By.CSS_SELECTOR, "#cphContents_cphContents_cphContents_ddlYear > option:nth-child(2)").click()
time.sleep(2)
driver.find_element(By.CSS_SELECTOR, "#cphContents_cphContents_cphContents_ddlSeries > option:nth-child(1)").click()

In [55]:
bs2 = BeautifulSoup(driver.page_source)

In [56]:
순위 = [i.text for i in bs2.find("table").findAll("td")[0::12]]
팀명 = [i.text for i in bs2.find("table").findAll("td")[1::12]]
경기 = [i.text for i in bs2.find("table").findAll("td")[2::12]]
승 = [i.text for i in bs2.find("table").findAll("td")[3::12]]
패 = [i.text for i in bs2.find("table").findAll("td")[4::12]]
무 = [i.text for i in bs2.find("table").findAll("td")[5::12]]
승률 = [i.text for i in bs2.find("table").findAll("td")[6::12]]
연속 = [i.text for i in bs2.find("table").findAll("td")[9::12]]
홈 = [i.text for i in bs2.find("table").findAll("td")[10::12]]
방문 = [i.text for i in bs2.find("table").findAll("td")[11::12]]

In [57]:
total = pd.DataFrame(list(zip(순위,팀명,경기,승,패,무,승률,연속,홈,방문)))
total

    0    1    2   3   4  5      6   7        8        9
0   1  SSG  144  88  52  4  0.629  4패  49-0-23  39-4-29
1   2   키움  144  80  62  2  0.563  1승  39-1-32  41-1-30
2   3   LG  144  87  55  2  0.613  1승  38-1-33  49-1-22
3   4   KT  144  80  62  2  0.563  1패  40-1-31  40-1-31
4   5  KIA  144  70  73  1  0.490  1패  31-0-41  39-1-32
5   6   NC  144  67  74  3  0.475  1패  35-3-34  32-0-40
6   7   삼성  144  66  76  2  0.465  2승  33-2-37  33-0-39
7   8   롯데  144  64  76  4  0.457  1승  27-3-42  37-1-34
8   9   두산  144  60  82  2  0.423  2패  29-1-42  31-1-40
9  10   한화  144  46  96  2  0.324  1패  28-0-44  18-2-52

In [249]:
with open("./total.pkl","wb")as f:
    pickle.dump(total,f)

## 1.4 수비

In [7]:
from selenium.webdriver.common.by import By

In [58]:
url3 = "https://www.koreabaseball.com/Record/Player/Defense/Basic.aspx"

In [59]:
driver.get(url3)

In [60]:
driver.find_element(By.CSS_SELECTOR, "#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child(22)").click()

In [61]:
bs3 = BeautifulSoup(driver.page_source)

In [62]:
순위 = [i.text for i in bs3.find("table").findAll("td")[0::17]]
선수명 = [i.text for i in bs3.find("table").findAll("td")[1::17]]
팀명 = [i.text for i in bs3.find("table").findAll("td")[2::17]]
포지션 = [i.text for i in bs3.find("table").findAll("td")[3::17]]
경기수 = [i.text for i in bs3.find("table").findAll("td")[4::17]]
선발경기 = [i.text for i in bs3.find("table").findAll("td")[5::17]]
수비이닝 = [i.text for i in bs3.find("table").findAll("td")[6::17]]
실책 = [i.text for i in bs3.find("table").findAll("td")[7::17]]
병살 = [i.text for i in bs3.find("table").findAll("td")[11::17]]
수비율 = [i.text for i in bs3.find("table").findAll("td")[12::17]]

In [63]:
pd.DataFrame(list(zip(순위,선수명,팀명,포지션,경기수,선발경기,수비이닝,실책,병살,수비율)))

     0      1    2    3    4    5         6   7   8      9
0    1    배정대   KT  중견수  144  134  1195 2/3   3   1  0.991
1    1    박해민   LG  중견수  144  142      1205   2   0  0.994
2    3    오지환   LG  유격수  142  137      1167  16  83  0.973
3    4    황재균   KT  3루수  138  133  1147 2/3  12  19  0.961
4    4    송성문   키움  3루수  138  137      1216  15  23  0.958
5    4    박성한  SSG  유격수  138  131      1176  24  97  0.961
6    7    이지영   키움   포수  137  102   994 2/3  11   9  0.988
7    7    김선빈  KIA  2루수  137  134  1134 1/3  10  80  0.983
8    9    유강남   LG   포수  134  115  1008 1/3   7   8  0.992
9    9    이정후   키움  중견수  134  132  1155 1/3   2   1  0.994
10  11    나성범  KIA  우익수  132  132  1131 2/3   3   1  0.987
11  11    터크먼   한화  중견수  132  129  1103 2/3   5   2  0.986
12  13    박찬호  KIA  유격수  130  128  1103 1/3  22  66  0.962
13  14    심우준   KT  유격수  129  124  1048 1/3  16  81  0.970
14  14    황대인  KIA  1루수  129  127  1041 1/3   7  82  0.993
15  16    김혜성   키움  2루수  127  123      1080  11  85  0.984
16  17    박세혁   두산   포수  126  110       884   5  10  0.993
17  18    강승호   두산  2루수  124  110   945 1/3  14  69  0.973
18  18    정수빈   두산  중견수  124  109   979 2/3   1   0  0.997
19  20  소크라테스  KIA  중견수  123  122  1009 2/3   5   0  0.984
20  21    피렐라   삼성  좌익수  121  121  1026 1/3   5   1  0.979
21  21    채은성   LG  1루수  121  120       935  10  90  0.990
22  23    허경민   두산  3루수  120  117   976 1/3   9  17  0.968
23  23    한유섬  SSG  우익수  120  114   979 2/3   0   0  1.000
24  25    오재일   삼성  1루수  119  112       949   5  87  0.995
25  26     최정  SSG  3루수  117  115   958 1/3  12  12  0.953
26  26    한동희   롯데  3루수  117  112       975  19  18  0.924
27  28    정은원   한화  2루수  116  114   981 2/3  17  63  0.968
28  29    최지훈  SSG  중견수  114  106   921 2/3   1   2  0.996
29  29    박동원  KIA   포수  114   98       865   5   8  0.994

In [65]:
순위_tmp = []
선수명_tmp = []
팀명_tmp = []
포지션_tmp = []
경기수_tmp = []
선발경기_tmp = []
수비이닝_tmp = []
실책_tmp = []
병살_tmp = []
수비율_tmp = []

In [66]:
url3 = "https://www.koreabaseball.com/Record/Player/Defense/Basic.aspx"
driver.get(url3)
driver.find_element(By.CSS_SELECTOR, "#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child(22)").click()
time.sleep(1)
for y in tqdm.tqdm(range(1,30)):
    try:
        for x in range(1,6):
            try:
                driver.find_element(By.CSS_SELECTOR, f"#cphContents_cphContents_cphContents_ucPager_btnNo{x}").click()
                time.sleep(3)
                bs3 = BeautifulSoup(driver.page_source)
                순위_tmp.extend([i.text for i in bs3.find("table").findAll("td")[0::17]])
                선수명_tmp.extend([i.text for i in bs3.find("table").findAll("td")[1::17]])
                팀명_tmp.extend([i.text for i in bs3.find("table").findAll("td")[2::17]])
                포지션_tmp.extend([i.text for i in bs3.find("table").findAll("td")[3::17]])
                경기수_tmp.extend([i.text for i in bs3.find("table").findAll("td")[4::17]])
                선발경기_tmp.extend([i.text for i in bs3.find("table").findAll("td")[5::17]])
                수비이닝_tmp.extend([i.text for i in bs3.find("table").findAll("td")[6::17]])
                실책_tmp.extend([i.text for i in bs3.find("table").findAll("td")[7::17]])
                병살_tmp.extend([i.text for i in bs3.find("table").findAll("td")[11::17]])
                수비율_tmp.extend([i.text for i in bs3.find("table").findAll("td")[12::17]])
            except:
                pass
        driver.find_element(By.CSS_SELECTOR, "#cphContents_cphContents_cphContents_ucPager_btnNext > img").click()
        time.sleep(2)
    except:
        break

 17%|██████████████▎                                                                    | 5/29 [01:47<08:34, 21.45s/it]

In [68]:
subi = pd.DataFrame(list(zip(순위_tmp, 선수명_tmp, 팀명_tmp, 포지션_tmp, 경기수_tmp, 선발경기_tmp, 수비이닝_tmp, 실책_tmp, 병살_tmp, 수비율_tmp)))
subi

       0    1   2    3    4    5         6   7   8      9
0      1  배정대  KT  중견수  144  134  1195 2/3   3   1  0.991
1      1  박해민  LG  중견수  144  142      1205   2   0  0.994
2      3  오지환  LG  유격수  142  137      1167  16  83  0.973
3      4  황재균  KT  3루수  138  133  1147 2/3  12  19  0.961
4      4  송성문  키움  3루수  138  137      1216  15  23  0.958
..   ...  ...  ..  ...  ...  ...       ...  ..  ..    ...
855  771  백용환  한화   포수    1    0         3   0   0  1.000
856  771  이원석  한화  우익수    1    0         1   0   0      -
857  771  임종찬  한화  중견수    1    0         1   0   0      -
858  771  장진혁  한화  중견수    1    1         9   0   0  1.000
859  771  하주석  한화  1루수    1    0         1   0   0  1.000

[860 rows x 10 columns]

In [69]:
subi.columns = ['순위', '선수명', '팀명', '포지션', '경기수', '선발경기', '수비이닝', '실책', '병살', '수비율']

In [70]:
subi

      순위  선수명  팀명  포지션  경기수 선발경기      수비이닝  실책  병살    수비율
0      1  배정대  KT  중견수  144  134  1195 2/3   3   1  0.991
1      1  박해민  LG  중견수  144  142      1205   2   0  0.994
2      3  오지환  LG  유격수  142  137      1167  16  83  0.973
3      4  황재균  KT  3루수  138  133  1147 2/3  12  19  0.961
4      4  송성문  키움  3루수  138  137      1216  15  23  0.958
..   ...  ...  ..  ...  ...  ...       ...  ..  ..    ...
855  771  백용환  한화   포수    1    0         3   0   0  1.000
856  771  이원석  한화  우익수    1    0         1   0   0      -
857  771  임종찬  한화  중견수    1    0         1   0   0      -
858  771  장진혁  한화  중견수    1    1         9   0   0  1.000
859  771  하주석  한화  1루수    1    0         1   0   0  1.000

[860 rows x 10 columns]

In [24]:
with open("./subi.pkl","wb")as f:
    pickle.dump(subi,f)

- 수비이닝 및 수비율 등의 데이터를 크롤링
- subi.pkl로 저장한다.

## 1.5 주루

In [73]:
with open("./zuru.pkl","rb") as f:
    zuru = pickle.load(f)

In [74]:
zuru

      순위  선수명   팀명 도루실패 도루시도  도루 도루실패 도루성공률 주루사 견제사
0      1  박찬호  KIA  130   50  42  130  84.0   7   0
1      2  김혜성   키움  129   41  34  129  82.9   4   1
2      3  최지훈  SSG  144   38  31  144  81.6   5   3
3      4  김지찬   삼성  113   29  25  113  86.2   3   0
4      5  박해민   LG  144   30  24  144  80.0   8   1
..   ...  ...  ...  ...  ...  ..  ...   ...  ..  ..
351  146  장시환   한화    2    0   0    2     -   0   0
352  146  장운호   한화    0    2   0    0   0.0   1   0
353  146  정민규   한화    1    0   0    1     -   1   0
354  146  주현상   한화    0    0   0    0     -   0   0
355  146  허인서   한화    0    0   0    0     -   0   0

[356 rows x 10 columns]

# 2. Mysql db data to pkl 파일
- mysql에 적재해놓은 kbo 연봉데이터를 pymysql을 이용하여 가져온다.

### DB접근해서 2023년 kbo연봉 데이터 가져오기

In [75]:
import pymysql
try:                                                  #try구문을 사용하여 에러가 날 경우를 대비
    con = pymysql.connect(host='{DB url}', 
                          user='{username}', password='{userpassword}', 
                          charset='utf8', db='{dbname}')   #con은 DB와 연결을 해주는 역할
    cur = con.cursor()                                          #cur는 DB 쿼리를 실행시켜주는 역할
except Exception as e:
    print ("error ->", e)

In [77]:
kbo_2023 = pd.read_sql_query("SELECT * FROM kbo_2023",con)
kbo_2023

C:\Users\Playdata\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,선수명,등번호,생년월일,포지션,신장_체중,경력,입단계약금,연봉,지명순위,입단년도,Team,원화
0,강매성,No.23,0000-00-00,투수(우투우타),187,상탄초(일산동구리,5000,3000,22 SSG 2차 6라운드 52순위,,SSG 랜더스,3000
1,고명준,No.12,0000-00-00,내야수(우투우타),185,서원초-세광중-세,9000,3000,21 SK 2차 2라운드 18순위,21SK,SSG 랜더스,3000
2,고효준,No.15,0000-00-00,투수(좌투좌타),179,서원초-세광중-세,11000,8500,02 롯데 2차 1라운드 6순위,02롯데,SSG 랜더스,8500
3,김강민,No.0,0000-00-00,외야수(우투우타),182,본리초-대구중-경,11000,16000,01 SK 2차 2라운드 18순위,01SK,SSG 랜더스,16000
4,김건웅,No.44,0000-00-00,내야수(우투우타),186,광주대성초-광양진,7000,3000,23 SSG 5라운드 45순위,,SSG 랜더스,3000
...,...,...,...,...,...,...,...,...,...,...,...,...
810,한경빈,No.94,0000-00-00,내야수(우투좌타),178,인천서림초-상인천,0,3000,22 한화 육성선수,,한화 이글스,3000
811,한서구,No.103,0000-00-00,투수(좌투좌타),191,석교초-세광중-대,5000,3000,23 한화 6라운드 51순위,,한화 이글스,3000
812,한승주,No.59,0000-00-00,투수(우투우타),184,부산수영초-대천중,11000,3100,20 한화 2차 2라운드 18순위,20한화,한화 이글스,3100
813,한승혁,No.26,0000-00-00,투수(우투좌타),185,도신초-강남중-덕,18000,6200,11 KIA 1라운드 8순위,11KIA,한화 이글스,6200
814,허관회,No.48,0000-00-00,포수(우투우타),176,경동초(의정부리틀,3000,3300,19 한화 2차 9라운드 83순위,20한화,한화 이글스,3300

In [86]:
kbo_2023[kbo_2023['선수명'] == '소크라테스']

,선수명,등번호,생년월일,포지션,신장_체중,경력,입단계약금,연봉,지명순위,입단년도,Team,원화
365,소크라테스,No.30,0000-00-00,외야수(좌투좌타),188,도미니카 Lice,100000,500000,22 KIA 자유선발,22KIA,KIA 타이거즈,62045

In [78]:
with open("./kbo_2023.pkl","wb")as f:
    pickle.dump(kbo_2023,f)

In [90]:
with open("./kbo_2022.pkl","rb") as f:
    kbo = pickle.load(f)

In [91]:
kbo

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,연봉(원화)
0,강매성,No.95,2003년 06월 08일,투수(우투우타),187cm/94kg,상탄초(일산동구리틀)-개군중-공주고,5000만원,3000만원,22 SSG 2차 6라운드 52순위,,SSG 랜더스,3000.0
1,고명준,No.6,2002년 07월 08일,내야수(우투우타),185cm/94kg,서원초-세광중-세광고-SK,9000만원,3000만원,21 SK 2차 2라운드 18순위,21SK,SSG 랜더스,3000.0
2,고효준,No.65,1983년 02월 08일,투수(좌투좌타),179cm/81kg,서원초-세광중-세광고-롯데-SK-KIA-롯데-LG,11000만원,4000만원,02 롯데 2차 1라운드 6순위,02롯데,SSG 랜더스,4000.0
3,김강민,No.0,1982년 09월 13일,외야수(우투우타),182cm/87kg,본리초-대구중-경북고-SK,11000만원,16000만원,01 SK 2차 2라운드 18순위,01SK,SSG 랜더스,16000.0
4,김건우,No.59,2002년 07월 12일,투수(좌투좌타),185cm/88kg,가현초(인천서구리틀)-동산중-제물포고-SK,20000만원,3100만원,21 SK 1차,21SK,SSG 랜더스,3100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
824,하주석,No.16,1994년 02월 25일,내야수(우투좌타),184cm/84kg,강남초-덕수중-신일고-한화-상무,30000만원,20090만원,12 한화 1라운드 1순위,12한화,한화 이글스,20090.0
825,한승주,No.59,2001년 03월 17일,투수(우투우타),184cm/82kg,부산수영초-대천중-부산고,11000만원,3000만원,20 한화 2차 2라운드 18순위,20한화,한화 이글스,3000.0
826,허관회,No.26,1999년 02월 12일,포수(우투우타),176cm/83kg,경동초(의정부리틀)-건대부중-경기고,3000만원,3370만원,19 한화 2차 9라운드 83순위,20한화,한화 이글스,3370.0
827,허인서,No.64,2003년 07월 11일,포수(우투우타),182cm/93kg,순천북초-여수중-효천고,11000만원,3000만원,22 한화 2차 2라운드 11순위,22한화,한화 이글스,3000.0
828,황영국,No.58,1995년 12월 26일,투수(좌투좌타),185cm/83kg,청주우암초-청주중-청주고-한화-경찰,20000만원,3400만원,14 한화 1차,14한화,한화 이글스,3400.0

- mysql에 적재해놓은 data를 크롤링한 데이터와 같이 사용하기위해 pkl 파일로 저장하였다.