# 크롤링으로 수집한 데이터를 전처리하는 과정이다.

In [4]:
import pickle

In [5]:
#2022 선수_연봉정보
with open("./kbo_total/player_2022_.pkl","rb") as f:
    player_2022 = pickle.load(f)

In [6]:
#2023 선수_연봉정보
with open("./kbo_total/player_2023_.pkl","rb") as f:
    player_2023 = pickle.load(f)

In [7]:
#2022 타자기록
with open("./kbo_total/taza.pkl","rb") as f:
    taza = pickle.load(f)

In [8]:
#2022 투수기록
with open("./kbo_total/tusu.pkl","rb") as f:
    tusu = pickle.load(f)

In [9]:
#2022 수비기록
with open("./kbo_total/subi.pkl","rb") as f:
    subi = pickle.load(f)

In [10]:
#2022 주루기록
with open("./kbo_total/zuru.pkl","rb") as f:
    zuru = pickle.load(f)

In [11]:
#2022 최종 팀 순위기록
with open("./kbo_total/total.pkl","rb") as f:
    team = pickle.load(f)

In [12]:
player_2023.head(1)

,선수명,등번호,생년월일,포지션,신장_체중,경력,입단계약금,연봉,지명순위,입단년도,Team,원화,Key
0,강매성,No.23,0000-00-00,투수(우투우타),187,상탄초(일산동구리,5000,3000,22 SSG 2차 6라운드 52순위,,SSG,3000,SSG_강매성

In [13]:
player_2022.head(1)

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,연봉(원화),Key
0,강매성,No.95,2003년 06월 08일,투수(우투우타),187cm/94kg,상탄초(일산동구리틀)-개군중-공주고,5000만원,3000만원,22 SSG 2차 6라운드 52순위,,SSG,3000.0,SSG_강매성

In [14]:
player_2023.columns = ['선수명', '등번호', '생년월일', '포지션', '신장/체중', '경력', '입단 계약금', '연봉', '지명순위',
       '입단년도', 'Team', '연봉(원화)', 'Key']

In [15]:
player_2022.columns

Index(['선수명', '등번호', '생년월일', '포지션', '신장/체중', '경력', '입단 계약금', '연봉', '지명순위',
       '입단년도', 'Team', '연봉(원화)', 'Key'],
      dtype='object')

In [16]:
player_2023.columns

Index(['선수명', '등번호', '생년월일', '포지션', '신장/체중', '경력', '입단 계약금', '연봉', '지명순위',
       '입단년도', 'Team', '연봉(원화)', 'Key'],
      dtype='object')

In [17]:
player_2022.head(1)

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,연봉(원화),Key
0,강매성,No.95,2003년 06월 08일,투수(우투우타),187cm/94kg,상탄초(일산동구리틀)-개군중-공주고,5000만원,3000만원,22 SSG 2차 6라운드 52순위,,SSG,3000.0,SSG_강매성

In [18]:
player_2023.head(1)

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,연봉(원화),Key
0,강매성,No.23,0000-00-00,투수(우투우타),187,상탄초(일산동구리,5000,3000,22 SSG 2차 6라운드 52순위,,SSG,3000,SSG_강매성

# 사용할 데이터

* 타자 정보 -> taza
* 수비 정보 -> subi
* 투수 정보 -> tusu
* 주루 정보 -> zuru
* 팀순위 정보 -> team
* 2022연봉 정보 -> player_2022
* 2023연봉 정보 -> player_2023

In [19]:
player_2022.head(1)

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,연봉(원화),Key
0,강매성,No.95,2003년 06월 08일,투수(우투우타),187cm/94kg,상탄초(일산동구리틀)-개군중-공주고,5000만원,3000만원,22 SSG 2차 6라운드 52순위,,SSG,3000.0,SSG_강매성

In [20]:
player_2023.head(1)

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,연봉(원화),Key
0,강매성,No.23,0000-00-00,투수(우투우타),187,상탄초(일산동구리,5000,3000,22 SSG 2차 6라운드 52순위,,SSG,3000,SSG_강매성

# 연봉 데이터 컬럼명 맞추기

In [21]:
player_2022.columns

Index(['선수명', '등번호', '생년월일', '포지션', '신장/체중', '경력', '입단 계약금', '연봉', '지명순위',
       '입단년도', 'Team', '연봉(원화)', 'Key'],
      dtype='object')

In [22]:
# 2022연봉 데이터 컬럼으로 통일
player_2023.columns = ['선수명', '등번호', '생년월일', '포지션', '신장/체중', '경력', '입단 계약금', '연봉', '지명순위',
       '입단년도', 'Team', '연봉(원화)', 'Key']

In [23]:
player_2022.head(1)

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,연봉(원화),Key
0,강매성,No.95,2003년 06월 08일,투수(우투우타),187cm/94kg,상탄초(일산동구리틀)-개군중-공주고,5000만원,3000만원,22 SSG 2차 6라운드 52순위,,SSG,3000.0,SSG_강매성

In [24]:
player_2023.head(1)

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,연봉(원화),Key
0,강매성,No.23,0000-00-00,투수(우투우타),187,상탄초(일산동구리,5000,3000,22 SSG 2차 6라운드 52순위,,SSG,3000,SSG_강매성

# Team에서 키움 히어로즈와 고양 히어로즈 합치기
- 1군과 2군의 이름이 다른 키움을 대상으로 data를 합친다.

In [25]:
player_2022['Team'].value_counts()

LG     89
두산     87
KIA    84
KT     83
NC     83
한화     83
SSG    82
삼성     80
롯데     77
키움     62
고양     17
Name: Team, dtype: int64

In [26]:
#2023은 애초에 합쳐져 있다.
player_2023['Team'].value_counts()

NC     88
한화     88
KT     86
키움     83
LG     81
삼성     81
SSG    79
롯데     78
두산     78
KIA    73
Name: Team, dtype: int64

In [27]:
player_2022.loc[player_2022['Team']=='고양','Team'] = '키움'

In [28]:
player_2022['Team'].value_counts()

LG     89
두산     87
KIA    84
KT     83
NC     83
한화     83
SSG    82
삼성     80
키움     79
롯데     77
Name: Team, dtype: int64

# 타자 데이터에 각 선수의 2022연봉과 2023연봉과 입단계약금 merge

In [29]:
taza.head(1)

    이름  팀명     타율  경기수  득점   안타 이루타 삼루타  홈런   타점
0  이정후  키움  0.349  142  85  193  36  10  23  113

In [34]:
player_2022[player_2022['Key'].duplicated()]

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,연봉(원화),Key
273,김민수,No.5,1998년 03월 18일,내야수(우투우타),184cm/97kg,서화초-동산중-제물포고-롯데-경찰,11000만원,5300만원,17 롯데 2차 2라운드 13순위,17롯데,롯데,5300.0,롯데_김민수
395,이승현,No.20,1991년 11월 20일,투수(우투우타),181cm/92kg,화순초-진흥중-화순고-LG,10000만원,10000만원,10 LG 2라운드 16순위,10LG,삼성,10000.0,삼성_이승현

In [35]:
player_2023[player_2023['Key'].duplicated()]

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,연봉(원화),Key
550,이승현,No.20,0000-00-00,투수(우투우타),181,화순초-진흥중-화,10000,12000,10 LG 2라운드 16순위,10LG,삼성,12000,삼성_이승현

* 연봉 데이터의 Key값이 중복인 것들도 있다. => Key값이 중복인 것들에 대해서만 따로 Key값을 수정해준다.

In [36]:
player_2022[player_2022['Key']=='롯데_김민수']

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,연봉(원화),Key
272,김민수,No.63,1996년 06월 11일,외야수(우투우타),180cm/96kg,신등초-신월중-마산고-경성대,3000만원,3000만원,19 롯데 2차 9라운드 88순위,,롯데,3000.0,롯데_김민수
273,김민수,No.5,1998년 03월 18일,내야수(우투우타),184cm/97kg,서화초-동산중-제물포고-롯데-경찰,11000만원,5300만원,17 롯데 2차 2라운드 13순위,17롯데,롯데,5300.0,롯데_김민수

In [37]:
player_2022.loc[player_2022['Key']=='롯데_김민수','Key'] = ['신동초_롯데_김민수','서화초_롯데_김민수']

In [38]:
player_2022[player_2022['선수명']=='김민수']

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,연봉(원화),Key
272,김민수,No.63,1996년 06월 11일,외야수(우투우타),180cm/96kg,신등초-신월중-마산고-경성대,3000만원,3000만원,19 롯데 2차 9라운드 88순위,,롯데,3000.0,신동초_롯데_김민수
273,김민수,No.5,1998년 03월 18일,내야수(우투우타),184cm/97kg,서화초-동산중-제물포고-롯데-경찰,11000만원,5300만원,17 롯데 2차 2라운드 13순위,17롯데,롯데,5300.0,서화초_롯데_김민수
347,김민수,No.12,1991년 03월 02일,포수(우투우타),177cm/80kg,대구옥산초-경복중-대구상원고-영남대-한화-삼성-상무,11000만원,6200만원,14 한화 2차 2라운드 24순위,14한화,삼성,6200.0,삼성_김민수
425,김민수,No.04,2000년 04월 05일,외야수(우투좌타),186cm/87kg,부산수영초-경남중-경남고,,3000만원,19 KIA 2차 7라운드 70순위,,KIA,3000.0,KIA_김민수
506,김민수,No.03,1998년 12월 18일,내야수(우투우타),177cm/80kg,문래초(용산구리틀)-서울경원중-군산상고-연세대,2000만원,3000만원,22 키움 2차 10라운드 96순위,,키움,3000.0,고양_김민수
588,김민수,No.26,1992년 07월 24일,투수(우투우타),188cm/80kg,청원초-청원중-청원고-성균관대-KT-상무,11000만원,11500만원,15 KT 2차 특별 11순위,15KT,KT,11500.0,KT_김민수

In [39]:
player_2023[player_2023['Key'].duplicated()]

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,연봉(원화),Key
550,이승현,No.20,0000-00-00,투수(우투우타),181,화순초-진흥중-화,10000,12000,10 LG 2라운드 16순위,10LG,삼성,12000,삼성_이승현

In [40]:
player_2023.loc[player_2023['Key']=='삼성_이승현','Key'] = ['삼성_이승현_남도초','삼성_이승현_화순초']

In [41]:
player_2023[player_2023['선수명']=='이승현']

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,연봉(원화),Key
549,이승현,No.54,0000-00-00,투수(좌투좌타),183,남도초-경복중-대,35000,8000,21 삼성 1차,21삼성,삼성,8000,삼성_이승현_남도초
550,이승현,No.20,0000-00-00,투수(우투우타),181,화순초-진흥중-화,10000,12000,10 LG 2라운드 16순위,10LG,삼성,12000,삼성_이승현_화순초

In [42]:
tusu.columns

Index(['순위', '선수명', '팀명', '평균자책점', '경기', '승', '패', '세이브', '홀드', '승률', '이닝',
       '피안타', '홈런', '볼넷', '사구', '삼진', '실점', '자책점', '이닝당_출루허용률'],
      dtype='object')

In [43]:
taza['Key'] = taza['팀명']+"_"+taza['이름']

In [44]:
#타자의 key값에는 중복값이 없음을 확인
taza['Key'].duplicated().sum()

0

In [45]:
# 수비는 일단 pass

In [46]:
tusu['Key'] = tusu['팀명']+"_"+tusu['선수명']

In [47]:
#투수의 key값에는 중복값이 없음을 확인
tusu['Key'].duplicated().sum()

0

# merge하기

In [72]:
import pandas as pd

In [206]:
taza_tmp = pd.merge(taza,player_2022,left_on ='Key',right_on='Key',how = 'left').drop(['생년월일','입단년도','지명순위','연봉','신장/체중','입단 계약금','등번호'],axis = 1)

In [188]:
player_2023.head(1)

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,연봉(원화),Key
0,강매성,No.23,0000-00-00,투수(우투우타),187,상탄초(일산동구리,5000,3000,22 SSG 2차 6라운드 52순위,,SSG,3000,SSG_강매성

In [207]:
taza_sal = pd.merge(taza_tmp,player_2023,left_on ='Key',right_on='Key',how = 'left').drop(['생년월일','신장/체중','포지션_y','선수명_y','등번호','경력_y','지명순위','입단년도','Team_y','Team_x','연봉','입단 계약금','포지션_x','선수명_x'],axis = 1)
taza_sal

,이름,팀명,타율,경기수,득점,안타,이루타,삼루타,홈런,타점,Key,경력_x,연봉(원화)_x,연봉(원화)_y
0,이정후,키움,0.349,142,85,193,36,10,23,113,키움_이정후,광주서석초-휘문중-휘문고-히어로즈,75000.0,110000.0
1,피렐라,삼성,0.342,141,102,192,33,4,28,109,삼성_피렐라,베네수엘라 Manuel Segundo Sanchez(고),70180.0,148908.0
2,박건우,NC,0.336,111,52,137,18,1,10,61,NC_박건우,역삼초-서울이수중-서울고-두산-경찰-두산,190000.0,90000.0
3,이대호,롯데,0.331,142,53,179,23,0,23,101,롯데_이대호,부산수영초-대동중-경남고-(영남사이버대)-롯데-시애틀,80000.0,NaN
4,나성범,KIA,0.320,144,92,180,39,2,21,97,KIA_나성범,광주대성초-진흥중-진흥고-연세대-NC,200000.0,80000.0
5,김혜성,키움,0.318,129,81,164,18,7,4,48,키움_김혜성,문촌초(고양시리틀)-동산중-동산고-히어로즈,32000.0,42000.0
6,문보경,LG,0.315,126,52,128,22,3,9,56,LG_문보경,송중초(동대문구리틀)-덕수중-신일고,6800.0,17000.0
7,소크라테스,KIA,0.311,127,83,160,29,7,17,77,KIA_소크라테스,도미니카 Liceo Cacique Enriquillo(고),58483.0,62045.0
8,페르난데스,두산,0.309,139,52,157,28,0,6,77,두산_페르난데스,쿠바,70180.0,NaN
9,조용호,KT,0.308,131,52,146,18,4,3,44,KT_조용호,성동초-잠신중-야탑고-단국대-SK,24000.0,32000.0
10,한동희,롯데,0.307,129,43,140,27,0,14,65,롯데_한동희,부산대연초-경남중-경남고,17200.0,19260.0
11,전준우,롯데,0.304,120,73,143,31,1,11,68,롯데_전준우,흥무초-경주중-경주고-건국대-롯데-경찰,50000.0,50000.0
12,최지훈,SSG,0.304,144,93,173,32,4,10,61,SSG_최지훈,광주수창초-무등중-광주제일고-동국대-SK,15000.0,30000.0
13,박성한,SSG,0.298,140,68,147,24,4,2,56,SSG_박성한,순천북초-여수중-효천고-SK-상무-SK,14000.0,27000.0
14,마티니,NC,0.296,139,67,151,34,1,16,85,NC_마티니,미국 Prairie Ridge(고)-미국 Kansas State(대),51465.0,NaN
15,채은성,LG,0.296,126,48,138,26,2,12,83,LG_채은성,순천북초-순천이수중-효천고,28000.0,NaN
16,박해민,LG,0.289,144,97,165,20,8,3,49,LG_박해민,영중초-양천중-신일고-한양대-삼성,60000.0,60000.0
17,허경민,두산,0.289,121,59,125,23,0,8,60,두산_허경민,송정동초-충장중-광주제일고-두산-경찰,120000.0,120000.0
18,터크먼,한화,0.289,144,88,166,37,4,12,43,한화_터크먼,미국 William Fremd(고)-미국 Bradley(대),81876.0,NaN
19,김선빈,KIA,0.287,140,51,145,23,0,3,61,KIA_김선빈,화순초-화순중-화순고-KIA-상무,45000.0,45000.0
20,김현수,LG,0.286,141,78,150,25,2,23,106,LG_김현수,쌍문초-신일중-신일고-두산-볼티모어-필라델피아,150000.0,100000.0
21,홍창기,LG,0.286,118,76,125,19,4,1,51,LG_홍창기,대일초-매송중-안산공고-건국대-LG-경찰,32000.0,30000.0
22,안치홍,롯데,0.284,132,71,140,27,3,14,58,롯데_안치홍,구지초(구리리틀)-대치중-서울고-KIA-경찰-KIA,100000.0,50000.0
23,양의지,NC,0.283,130,61,121,24,0,20,94,NC_양의지,송정동초-무등중-진흥고-두산-경찰-두산,100000.0,NaN
24,노시환,한화,0.281,115,55,122,24,1,6,59,한화_노시환,부산수영초-경남중-경남고,12000.0,13100.0
25,노진혁,NC,0.280,115,50,111,24,0,15,75,NC_노진혁,광주대성초-광주동성중-광주동성고-성균관대-NC-상무,23000.0,NaN
26,손아섭,NC,0.277,138,72,152,29,4,4,48,NC_손아섭,양정초-개성중-부산고-롯데,150000.0,50000.0
27,푸이그,키움,0.277,126,65,131,30,0,21,73,키움_푸이그,쿠바 EIEFD(대),81876.0,NaN
28,박병호,KT,0.275,124,72,118,17,0,35,98,KT_박병호,영일초(광명리틀)-영남중-성남고-LG-상무-LG-히어로즈-미네소타-넥센-키움,60000.0,70000.0
29,류지혁,KIA,0.274,127,55,111,19,2,2,48,KIA_류지혁,청원초-선린중-충암고-두산-상무-두산,10500.0,15500.0
30,정은원,한화,0.274,140,67,139,20,2,8,49,한화_정은원,상인천초-상인천중-인천고,19080.0,21800.0
31,박찬호,KIA,0.272,130,81,134,22,0,4,45,KIA_박찬호,신답초-건대부중-장충고,12000.0,20000.0
32,오지환,LG,0.269,142,75,133,16,4,25,87,LG_오지환,군산초-자양중-경기고,60000.0,60000.0
33,오재일,삼성,0.268,135,57,126,42,0,21,94,삼성_오재일,인창초(구리리틀)-구리인창중-야탑고-현대-상무-히어로즈-두산,60000.0,50000.0
34,이지영,키움,0.267,137,38,112,13,4,2,37,키움_이지영,서화초-신흥중-제물포고-경성대-삼성-상무-삼성,30000.0,50000.0
35,박민우,NC,0.267,104,61,104,22,1,4,38,NC_박민우,마포초(용산구리틀)-선린중-휘문고,41000.0,110000.0
36,배정대,KT,0.266,144,64,135,24,2,6,56,KT_배정대,도신초-성남중-성남고-(디지털문예대)-LG-KT-경찰,26000.0,34000.0
37,최정,SSG,0.266,121,80,110,21,0,26,87,SSG_최정,대일초-평촌중-유신고-SK,120000.0,100000.0
38,최형우,KIA,0.264,132,55,120,27,1,14,71,KIA_최형우,진북초-전주동중-전주고-삼성-경찰-삼성,90000.0,90000.0
39,한유섬,SSG,0.264,135,62,121,33,1,21,100,SSG_한유섬,중앙초(해운대리틀)-대천중-경남고-경성대-SK-상무-SK,240000.0,50000.0
40,강승호,두산,0.264,134,54,117,28,1,10,62,두산_강승호,순천북초-천안북중-북일고-LG-경찰-LG-SK,11500.0,20000.0
41,황재균,KT,0.262,141,59,136,25,3,10,64,KT_황재균,사당초-서울이수중-경기고-현대-히어로즈-롯데-샌프란시스코,40000.0,100000.0
42,정수빈,두산,0.259,127,58,105,12,4,3,41,두산_정수빈,수원신곡초-수원북중-유신고-두산-경찰,60000.0,60000.0
43,추신수,SSG,0.259,112,77,106,20,1,16,58,SSG_추신수,부산수영초-부산중-부산고-SK,270000.0,170000.0
44,하주석,한화,0.258,125,50,115,18,2,5,58,한화_하주석,강남초-덕수중-신일고-한화-상무,20090.0,10000.0
45,황대인,KIA,0.256,129,40,122,27,0,14,91,KIA_황대인,군산신풍초-자양중-경기고-KIA-상무,6500.0,13000.0
46,유강남,LG,0.255,139,54,106,16,0,8,47,LG_유강남,청원초-휘문중-서울고-LG-상무,27000.0,NaN
47,김재환,두산,0.248,128,64,111,24,1,23,72,두산_김재환,영랑초-상인천중-인천고-두산-상무,150000.0,150000.0
48,송성문,키움,0.247,142,67,135,21,4,13,79,키움_송성문,봉천초(용산구리틀)-홍은중-장충고-히어로즈-키움-상무,7500.0,12000.0
49,양석환,두산,0.244,107,58,99,14,1,20,51,두산_양석환,백운초-신일중-신일고-동국대-LG-상무-LG,39000.0,40000.0
50,박동원,KIA,0.242,123,52,93,21,0,18,57,KIA_박동원,NaN,NaN,NaN
51,김태연,한화,0.240,119,46,97,18,0,7,53,한화_김태연,서울청구초-덕수중-야탑고,5600.0,6000.0
52,심우준,KT,0.240,132,69,93,8,2,4,34,KT_심우준,송정동초-언북중-경기고,26000.0,NaN

In [208]:
taza_sal.head(1)

,이름,팀명,타율,경기수,득점,안타,이루타,삼루타,홈런,타점,Key,경력_x,연봉(원화)_x,연봉(원화)_y
0,이정후,키움,0.349,142,85,193,36,10,23,113,키움_이정후,광주서석초-휘문중-휘문고-히어로즈,75000.0,110000.0

In [210]:
taza_sal.columns = ['이름', '팀명', '타율', '경기수', '득점', '안타', '이루타', '삼루타', '홈런', '타점', 'Key',
       '경력', '연봉(원화)_2022', '연봉(원화)_2023']

In [213]:
taza_sal['연봉차'] = taza_sal['연봉(원화)_2023']-taza_sal['연봉(원화)_2022']
taza_sal

,이름,팀명,타율,경기수,득점,안타,이루타,삼루타,홈런,타점,Key,경력,연봉(원화)_2022,연봉(원화)_2023,연봉차
0,이정후,키움,0.349,142,85,193,36,10,23,113,키움_이정후,광주서석초-휘문중-휘문고-히어로즈,75000.0,110000.0,35000.0
1,피렐라,삼성,0.342,141,102,192,33,4,28,109,삼성_피렐라,베네수엘라 Manuel Segundo Sanchez(고),70180.0,148908.0,78728.0
2,박건우,NC,0.336,111,52,137,18,1,10,61,NC_박건우,역삼초-서울이수중-서울고-두산-경찰-두산,190000.0,90000.0,-100000.0
3,이대호,롯데,0.331,142,53,179,23,0,23,101,롯데_이대호,부산수영초-대동중-경남고-(영남사이버대)-롯데-시애틀,80000.0,NaN,NaN
4,나성범,KIA,0.320,144,92,180,39,2,21,97,KIA_나성범,광주대성초-진흥중-진흥고-연세대-NC,200000.0,80000.0,-120000.0
5,김혜성,키움,0.318,129,81,164,18,7,4,48,키움_김혜성,문촌초(고양시리틀)-동산중-동산고-히어로즈,32000.0,42000.0,10000.0
6,문보경,LG,0.315,126,52,128,22,3,9,56,LG_문보경,송중초(동대문구리틀)-덕수중-신일고,6800.0,17000.0,10200.0
7,소크라테스,KIA,0.311,127,83,160,29,7,17,77,KIA_소크라테스,도미니카 Liceo Cacique Enriquillo(고),58483.0,62045.0,3562.0
8,페르난데스,두산,0.309,139,52,157,28,0,6,77,두산_페르난데스,쿠바,70180.0,NaN,NaN
9,조용호,KT,0.308,131,52,146,18,4,3,44,KT_조용호,성동초-잠신중-야탑고-단국대-SK,24000.0,32000.0,8000.0
10,한동희,롯데,0.307,129,43,140,27,0,14,65,롯데_한동희,부산대연초-경남중-경남고,17200.0,19260.0,2060.0
11,전준우,롯데,0.304,120,73,143,31,1,11,68,롯데_전준우,흥무초-경주중-경주고-건국대-롯데-경찰,50000.0,50000.0,0.0
12,최지훈,SSG,0.304,144,93,173,32,4,10,61,SSG_최지훈,광주수창초-무등중-광주제일고-동국대-SK,15000.0,30000.0,15000.0
13,박성한,SSG,0.298,140,68,147,24,4,2,56,SSG_박성한,순천북초-여수중-효천고-SK-상무-SK,14000.0,27000.0,13000.0
14,마티니,NC,0.296,139,67,151,34,1,16,85,NC_마티니,미국 Prairie Ridge(고)-미국 Kansas State(대),51465.0,NaN,NaN
15,채은성,LG,0.296,126,48,138,26,2,12,83,LG_채은성,순천북초-순천이수중-효천고,28000.0,NaN,NaN
16,박해민,LG,0.289,144,97,165,20,8,3,49,LG_박해민,영중초-양천중-신일고-한양대-삼성,60000.0,60000.0,0.0
17,허경민,두산,0.289,121,59,125,23,0,8,60,두산_허경민,송정동초-충장중-광주제일고-두산-경찰,120000.0,120000.0,0.0
18,터크먼,한화,0.289,144,88,166,37,4,12,43,한화_터크먼,미국 William Fremd(고)-미국 Bradley(대),81876.0,NaN,NaN
19,김선빈,KIA,0.287,140,51,145,23,0,3,61,KIA_김선빈,화순초-화순중-화순고-KIA-상무,45000.0,45000.0,0.0
20,김현수,LG,0.286,141,78,150,25,2,23,106,LG_김현수,쌍문초-신일중-신일고-두산-볼티모어-필라델피아,150000.0,100000.0,-50000.0
21,홍창기,LG,0.286,118,76,125,19,4,1,51,LG_홍창기,대일초-매송중-안산공고-건국대-LG-경찰,32000.0,30000.0,-2000.0
22,안치홍,롯데,0.284,132,71,140,27,3,14,58,롯데_안치홍,구지초(구리리틀)-대치중-서울고-KIA-경찰-KIA,100000.0,50000.0,-50000.0
23,양의지,NC,0.283,130,61,121,24,0,20,94,NC_양의지,송정동초-무등중-진흥고-두산-경찰-두산,100000.0,NaN,NaN
24,노시환,한화,0.281,115,55,122,24,1,6,59,한화_노시환,부산수영초-경남중-경남고,12000.0,13100.0,1100.0
25,노진혁,NC,0.280,115,50,111,24,0,15,75,NC_노진혁,광주대성초-광주동성중-광주동성고-성균관대-NC-상무,23000.0,NaN,NaN
26,손아섭,NC,0.277,138,72,152,29,4,4,48,NC_손아섭,양정초-개성중-부산고-롯데,150000.0,50000.0,-100000.0
27,푸이그,키움,0.277,126,65,131,30,0,21,73,키움_푸이그,쿠바 EIEFD(대),81876.0,NaN,NaN
28,박병호,KT,0.275,124,72,118,17,0,35,98,KT_박병호,영일초(광명리틀)-영남중-성남고-LG-상무-LG-히어로즈-미네소타-넥센-키움,60000.0,70000.0,10000.0
29,류지혁,KIA,0.274,127,55,111,19,2,2,48,KIA_류지혁,청원초-선린중-충암고-두산-상무-두산,10500.0,15500.0,5000.0
30,정은원,한화,0.274,140,67,139,20,2,8,49,한화_정은원,상인천초-상인천중-인천고,19080.0,21800.0,2720.0
31,박찬호,KIA,0.272,130,81,134,22,0,4,45,KIA_박찬호,신답초-건대부중-장충고,12000.0,20000.0,8000.0
32,오지환,LG,0.269,142,75,133,16,4,25,87,LG_오지환,군산초-자양중-경기고,60000.0,60000.0,0.0
33,오재일,삼성,0.268,135,57,126,42,0,21,94,삼성_오재일,인창초(구리리틀)-구리인창중-야탑고-현대-상무-히어로즈-두산,60000.0,50000.0,-10000.0
34,이지영,키움,0.267,137,38,112,13,4,2,37,키움_이지영,서화초-신흥중-제물포고-경성대-삼성-상무-삼성,30000.0,50000.0,20000.0
35,박민우,NC,0.267,104,61,104,22,1,4,38,NC_박민우,마포초(용산구리틀)-선린중-휘문고,41000.0,110000.0,69000.0
36,배정대,KT,0.266,144,64,135,24,2,6,56,KT_배정대,도신초-성남중-성남고-(디지털문예대)-LG-KT-경찰,26000.0,34000.0,8000.0
37,최정,SSG,0.266,121,80,110,21,0,26,87,SSG_최정,대일초-평촌중-유신고-SK,120000.0,100000.0,-20000.0
38,최형우,KIA,0.264,132,55,120,27,1,14,71,KIA_최형우,진북초-전주동중-전주고-삼성-경찰-삼성,90000.0,90000.0,0.0
39,한유섬,SSG,0.264,135,62,121,33,1,21,100,SSG_한유섬,중앙초(해운대리틀)-대천중-경남고-경성대-SK-상무-SK,240000.0,50000.0,-190000.0
40,강승호,두산,0.264,134,54,117,28,1,10,62,두산_강승호,순천북초-천안북중-북일고-LG-경찰-LG-SK,11500.0,20000.0,8500.0
41,황재균,KT,0.262,141,59,136,25,3,10,64,KT_황재균,사당초-서울이수중-경기고-현대-히어로즈-롯데-샌프란시스코,40000.0,100000.0,60000.0
42,정수빈,두산,0.259,127,58,105,12,4,3,41,두산_정수빈,수원신곡초-수원북중-유신고-두산-경찰,60000.0,60000.0,0.0
43,추신수,SSG,0.259,112,77,106,20,1,16,58,SSG_추신수,부산수영초-부산중-부산고-SK,270000.0,170000.0,-100000.0
44,하주석,한화,0.258,125,50,115,18,2,5,58,한화_하주석,강남초-덕수중-신일고-한화-상무,20090.0,10000.0,-10090.0
45,황대인,KIA,0.256,129,40,122,27,0,14,91,KIA_황대인,군산신풍초-자양중-경기고-KIA-상무,6500.0,13000.0,6500.0
46,유강남,LG,0.255,139,54,106,16,0,8,47,LG_유강남,청원초-휘문중-서울고-LG-상무,27000.0,NaN,NaN
47,김재환,두산,0.248,128,64,111,24,1,23,72,두산_김재환,영랑초-상인천중-인천고-두산-상무,150000.0,150000.0,0.0
48,송성문,키움,0.247,142,67,135,21,4,13,79,키움_송성문,봉천초(용산구리틀)-홍은중-장충고-히어로즈-키움-상무,7500.0,12000.0,4500.0
49,양석환,두산,0.244,107,58,99,14,1,20,51,두산_양석환,백운초-신일중-신일고-동국대-LG-상무-LG,39000.0,40000.0,1000.0
50,박동원,KIA,0.242,123,52,93,21,0,18,57,KIA_박동원,NaN,NaN,NaN,NaN
51,김태연,한화,0.240,119,46,97,18,0,7,53,한화_김태연,서울청구초-덕수중-야탑고,5600.0,6000.0,400.0
52,심우준,KT,0.240,132,69,93,8,2,4,34,KT_심우준,송정동초-언북중-경기고,26000.0,NaN,NaN

In [220]:
tusu_tmp = pd.merge(tusu,player_2022,left_on ='Key',right_on='Key',how = 'left').drop(['생년월일','신장/체중','입단 계약금','지명순위','입단년도','Team','연봉','선수명_y','등번호','포지션'],axis=1)

In [231]:
tusu_sal = pd.merge(tusu_tmp,player_2023,left_on ='Key',right_on='Key',how = 'left').drop(['순위','생년월일','포지션','신장/체중','등번호','Team','입단년도','지명순위','경력_x','선수명','입단 계약금','연봉'],axis = 1)

In [233]:
tusu_sal.columns = ['선수명', '팀명', '평균자책점', '경기', '승', '패', '세이브', '홀드', '승률', '이닝', '피안타',
       '홈런', '볼넷', '사구', '삼진', '실점', '자책점', '이닝당_출루허용률', 'Key', '연봉(원화)_2022',
       '경력', '연봉(원화)_2023']

In [234]:
tusu_sal['연봉차'] = tusu_sal['연봉(원화)_2023'] - tusu_sal['연봉(원화)_2022']

In [235]:
tusu_sal

,선수명,팀명,평균자책점,경기,승,패,세이브,홀드,승률,이닝,...,사구,삼진,실점,자책점,이닝당_출루허용률,Key,연봉(원화)_2022,경력,연봉(원화)_2023,연봉차
0,안우진,키움,2.11,30,15,8,0,0,0.652,196,...,4,224,51,46,0.95,키움_안우진,15000.0,강남초-서울이수중,35000.0,20000.0
1,김광현,SSG,2.13,28,13,3,0,0,0.813,173 1/3,...,5,153,48,41,1.07,SSG_김광현,810000.0,덕성초(안산리틀),100000.0,-710000.0
2,플럿코,LG,2.39,28,15,5,0,0,0.750,162,...,2,149,53,43,1.01,LG_플럿코,58483.0,미국 UCLA(대,99272.0,40789.0
3,수아레즈,삼성,2.49,30,6,8,0,0,0.429,173 2/3,...,4,159,61,48,1.16,삼성_수아레즈,81876.0,베네수엘라 Gal,111681.0,29805.0
4,켈리,LG,2.54,27,16,4,0,0,0.800,166 1/3,...,2,153,50,47,1.08,LG_켈리,105270.0,미국 Saraso,130294.0,25024.0
5,요키시,키움,2.57,30,10,8,0,0,0.556,185 1/3,...,5,154,61,53,1.09,키움_요키시,105270.0,미국 Northw,148908.0,43638.0
6,폰트,SSG,2.69,28,13,6,0,0,0.684,184,...,6,170,63,55,0.95,SSG_폰트,128663.0,NaN,NaN,NaN
7,루친스키,NC,2.97,31,10,12,0,0,0.455,193 2/3,...,8,194,77,64,1.13,NC_루친스키,187147.0,NaN,NaN,NaN
8,뷰캐넌,삼성,3.04,26,11,8,0,0,0.579,160,...,8,117,61,54,1.34,삼성_뷰캐넌,128663.0,미국 Georgi,136499.0,7836.0
9,소형준,KT,3.05,27,13,6,0,0,0.684,171 1/3,...,5,117,68,58,1.15,KT_소형준,20000.0,호암초(의정부리틀,32000.0,12000.0
10,고영표,KT,3.26,28,13,8,0,0,0.619,182 1/3,...,16,156,69,66,1.17,KT_고영표,30000.0,광주대성초-광주동,43000.0,13000.0
11,스탁,두산,3.60,29,9,10,0,0,0.474,165,...,10,138,87,66,1.48,두산_스탁,46786.0,NaN,NaN,NaN
12,최원준,두산,3.60,30,8,13,0,0,0.381,165,...,7,113,80,66,1.33,두산_최원준,34000.0,수유초-신일중-신,33000.0,-1000.0
13,반즈,롯데,3.62,31,12,12,0,0,0.500,186 1/3,...,18,160,87,75,1.20,롯데_반즈,54434.0,미국 Clemso,105477.0,51043.0
14,곽빈,두산,3.78,27,8,9,0,0,0.471,147 2/3,...,11,138,69,62,1.37,두산_곽빈,6500.0,서울학동초-자양중,14000.0,7500.0
15,양현종,KIA,3.85,30,12,7,0,0,0.632,175 1/3,...,3,141,86,75,1.25,KIA_양현종,100000.0,학강초-광주동성중,50000.0,-50000.0
16,이의리,KIA,3.86,29,10,10,0,0,0.500,154,...,9,161,79,66,1.31,KIA_이의리,9000.0,광주수창초-충장중,15000.0,6000.0
17,박세웅,롯데,3.89,28,10,11,0,0,0.476,157 1/3,...,8,146,80,68,1.34,롯데_박세웅,26000.0,대구경운초-경운중,150000.0,124000.0
18,원태인,삼성,3.92,27,10,8,0,0,0.556,165 1/3,...,4,130,75,72,1.29,삼성_원태인,30000.0,율하초(중구리틀),35000.0,5000.0
19,김민우,한화,4.36,29,6,11,0,0,0.353,163,...,8,129,82,79,1.39,한화_김민우,19100.0,사파초-마산중-용,22800.0,3700.0
20,오원석,SSG,4.50,31,6,8,0,0,0.429,144,...,3,112,79,72,1.50,SSG_오원석,6500.0,수진초-매송중-야,14000.0,7500.0
21,데스파이네,KT,4.53,30,8,12,0,0,0.400,163,...,9,123,94,82,1.51,KT_데스파이네,81876.0,NaN,NaN,NaN

In [243]:
team = team.drop(0,axis = 1)

In [244]:
team.columns = ['팀명','경기수','승','패','무','승률','연속','홈','원정']

In [245]:
team

    팀명  경기수   승   패  무     승률  연속        홈       원정
0  SSG  144  88  52  4  0.629  4패  49-0-23  39-4-29
1   키움  144  80  62  2  0.563  1승  39-1-32  41-1-30
2   LG  144  87  55  2  0.613  1승  38-1-33  49-1-22
3   KT  144  80  62  2  0.563  1패  40-1-31  40-1-31
4  KIA  144  70  73  1  0.490  1패  31-0-41  39-1-32
5   NC  144  67  74  3  0.475  1패  35-3-34  32-0-40
6   삼성  144  66  76  2  0.465  2승  33-2-37  33-0-39
7   롯데  144  64  76  4  0.457  1승  27-3-42  37-1-34
8   두산  144  60  82  2  0.423  2패  29-1-42  31-1-40
9   한화  144  46  96  2  0.324  1패  28-0-44  18-2-52

In [246]:
import pickle

In [247]:
with open("./kbo_sal/taza_sal.pkl","wb") as f:
    pickle.dump(taza_sal,f)

In [248]:
with open("./kbo_sal/tusu_sal.pkl","wb") as f:
    pickle.dump(tusu_sal,f)

In [249]:
with open("./kbo_sal/team.pkl","wb") as f:
    pickle.dump(team,f)

In [ ]:
list(tusu_tmp.loc[tusu_tmp.loc[tusu_tmp['경력'].apply(lambda x : x.find('고')>-1),'경력'].apply(lambda y :len(y.split("-"))>=3),'경력'].apply(lambda z : z.split("-")[2]))

In [266]:
tusu_tmp.loc[tusu_tmp['경력'].apply(lambda x : x.find('고')>-1),'경력'].apply(lambda y : len(y.split("-"))>=3).index

Int64Index([0, 1, 3, 4, 6, 7, 9, 10, 12, 14, 15, 16, 17, 18, 19, 20, 21], dtype='int64')

In [284]:
high_tusu = list(tusu_tmp.iloc[[0, 1, 9, 10, 12, 14, 15, 16, 17, 18, 19, 20,],-2].apply(lambda x:x.split("-")[2]))
high_tusu

['휘문고',
 '안산공고',
 '유신고',
 '화순고',
 '신일고',
 '배명고',
 '광주동성고',
 '광주제일고',
 '경북고',
 '경북고',
 '용마고',
 '야탑고']

In [285]:
with open("./high_tusu.pkl","wb") as f:
    pickle.dump(high_tusu,f)